/.bzr
/log
/html
/.eric4project
/.eric5project
/aipsetup3.e4p
/aipsetup3.e5p
/aipsetup.egg-info
*~
*.pyc
*.pyo
#*#
/.pydevproject
/.project
/.settings
/dist
/org/wayround/utils
/aipsetup3.profile
/org/wayround/aipsetup/unicorn_distro/*.sqlite
/MANIFEST
