
<div class="index-maindiv">
  <form action="search">
    <table>
      <tr>
        <td>Sear<a id="hidden-control" href="control">c</a>h For What?</td>
        <td>
          <select name="what">
            <option value="info">info</option>
            <option value="source">source</option>
            <option value="repository" selected="selected">repository</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>How to Search?</td>
        <td>
          <select name="type">
            <option value="regexp">regexp</option>
            <option value="begins" selected="selected">begins</option>
            <option value="exac">exac</option>
            <option value="contains">contains</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>Output Format</td>
        <td>
          <select name="format">
            <option value="html" selected="selected">html</option>
            <option value="list">list</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>Case Sensitive</td>
        <td>
          <input type="checkbox" name="sensitive"/>
        </td>
      </tr>

      <tr>
        <td>Query</td>
        <td>
          <input type="text" name="value"/>
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <button type="submit">Go!</button>
        </td>
      </tr>
    </table>
  </form>
</div>
