<%
import urllib
%>
<div class="search-maindiv">
  <div>Count: <strong>${ len(results) | x }</strong></div>
  % if what in ['source', 'repository']:
  % for each in results:
  <div>
    <a href="${ urllib.quote('files_'+what) | x }${ urllib.quote(each) | x }">${ each | x }</a>
  </div>
  % endfor
  % elif what in ['info']:
  % for each in results:
  <div>
    <a href="${ 'info?name='+urllib.quote(each) | x }">${ each | x }</a> <em>(<a href="${ 'files_'+what | x }/${ urllib.quote(each) | x }.xml">xml</a>)</em>
  </div>
  % endfor
  % endif
</div>
