<div>
    <table>
        <tbody>

            <tr>
                <td>
                    <table>
                        <tbody>
                            % for i in autorows:
                            <tr>
                                <td>${ '{}:'.format(i[0]) | x }</td>
                                <td><pre>${ i[1] | x }</pre></td>
                            </tr>
                            % endfor
                            <tr>
                                <td>Base Name:</td>
                                <td><pre>${ basename | x }</pre></td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td><pre>${ category | x }</pre></td>
                            </tr>
                            <tr>
                                <td>Home Page:</td>
                                <td><pre>${ homepage | x }</pre></td>
                            </tr>
                            <tr>
                                <td>Tags:</td>
                                <td><pre>${ ','.join(tags) | x }</pre></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td><pre>${ description | x }</pre></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Packages:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${asp_list}</td>
            </tr>
        </tbody>
    </table>
</div>
