<div>
    <table>
        <tbody>

            <tr>
                <td>
                    <table>
                        <tbody>
                            % for i in autorows:
                            <tr>
                                <td>${ '{}:'.format(i[0]) | x }</td>
                                <td>${ i[1] | x }</td>
                            </tr>
                            % endfor
                            <tr>
                                <td>Base Name:</td>
                                <td>${ basename | x }</td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td>${ category | x }</td>
                            </tr>
                            <tr>
                                <td>Home Page:</td>
                                <td>${ homepage | x }</td>
                            </tr>
                            <tr>
                                <td>Tags:</td>
                                <td>${ ','.join(tags) | x }</td>
                            </tr>
                            <tr>
                                <td>Latest package (ASP):</td>
                                <td><a href="${ latest_asp_basename | u,x }">${ latest_asp_basename | x }</a></td>
                            </tr>
                            <tr>
                                <td>Newest src:</td>
                                <td><a href="${ latest_src_basename | u,x }">${ latest_src_basename | x }</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>${ description | x }</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Packages (ASPs):</th><th>Source Tarballs:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${asp_list}</td><td>${tarball_list}</td>
            </tr>
        </tbody>
    </table>
</div>
